<div class="container col-lg-4 col-lg-offset-4">
    <div class="row" id="register_main">
        <ul class="well">
            <li>
                <label for="username">用户名：</label>
                <input type="text" class="form-control" id="username">
            </li>
            <li>
                <label for="password">密码：</label>
                <input type="text" class="form-control" id="password">
            </li>
            <li>
                <label for="password2">重复密码：</label>
                <input type="text" class="form-control" id="password2">
            </li>
            <li>
                <button class="btn btn-info pull-right">确定</button>
                <button class="btn btn-danger pull-right">重置</button>
            </li>
        </ul>

    </div>
</div>